
@{
    ViewBag.Title = "CustomerService";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
@using Model;
@model List<CustomerService>
    @{ 
        List <UserDoctorList> userDoctorList = ViewBag.UserDoctorList;
    }
<style type="text/css">
    #top {
        width: 80%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
        box-sizing: border-box;
        transition: box-shadow .5s;
        margin: 0px auto;
    }

    table {
        text-align: center;
    }
</style>
<div id="top">
    <div>
        <h2 style="text-align:center">客户咨询管理</h2>
    </div>
    <div>
        <table class="table table-hover table-primary" width="100%">
            <tr>
                <td>序号</td>
                <td>客户姓名</td>
                <td>咨询内容</td>
                <td>咨询时间</td>
                <td>接待医生</td>
                <td>基本操作</td>
            </tr>

            @*此处增加循环出客户咨询信息*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerServiceID</td>
                    <td>@item.ClientMdicalIformation.CustomerAppointment.CustomerInformation.CustomerName</td>
                    <td>@item.ConsultationContent</td>
                    <td>@item.ConsultationTime</td>
                    <td>@item.UserDoctorList.DoctorOfName</td>
                    <td>
                        <!-- Button trigger modal -->
                        <a href="#" data-toggle="modal" data-target="#exampleModal">
                            新增咨询
                        </a>/<a href="#">删除咨询</a>/<a href="#">修改信息</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增客户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/CustomerInFormation/" method="post" id="AddFrom">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerName">姓名</span>
                                <input type="text" class="form-control" name="CustomerName">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerIDCard">医生</span>
                                <select id="exampleInputEmail1" aria-describedby="emailHelp" name="DoctorID">
                                    @foreach (var item in userDoctorList)
                                    {
                                        <option value="@item.DoctorID">@item.DoctorOfName</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerGender">性别</span>
                                <input type="text" class="form-control" name="CustomerGender">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="AddSubmit">保存</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("#AddSubmit").click(
            function () {
            $("#AddFrom").submit()
            })

    </script>
}