
@{
    ViewBag.Title = "CustomerService";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
@using Model;
@model List<CustomerService>
    @{ 
        List <UserDoctorList> userDoctorList = ViewBag.UserDoctorList; 
        UserDoctorList userDoctorList2 = Session["Doctor"] as UserDoctorList;
    }
<style type="text/css">
    #top {
        width: 80%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
        box-sizing: border-box;
        transition: box-shadow .5s;
        margin: 0px auto;
    }

    table {
        text-align: center;
    }
</style>
<div id="top">
    <div>
        <h2 style="text-align:center">客户咨询管理</h2>
    </div>
    <div>
        <table class="table table-hover table-primary" width="100%">
            <tr>
                <td>序号</td>
                <td>咨询内容</td>
                <td>接待医生</td>
                <td>咨询时间</td>
                <td>基本操作</td>
            </tr>

            @*此处增加循环出客户咨询信息*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerServiceID</td>
                    <td>@item.ConsultationContent</td>
                    <td>@item.UserDoctorList.DoctorOfName</td>
                    <td>@item.ConsultationTime.ToShortDateString()</td>
                    <td>
                        <!-- Button trigger modal -->
                        <a href="#" data-toggle="modal" data-target="#exampleModal">
                            新增咨询
                        </a>/
                        <a href="/ServiceManagement/DeleteCustomerService?id=@item.CustomerServiceID" onclick="return confirm('你确定要删除吗？')">删除咨询</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增咨询</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/ServiceManagement/AddCustomerService" method="post" id="AddFrom">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="DoctorID">医生</span><br />
                                <input type="hidden" class="form-control" name="DoctorID" value="@userDoctorList2.DoctorID">
                                <input type="text" class="form-control" value="@userDoctorList2.DoctorOfName" readonly="readonly">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="ConsultationContent">咨询内容</span>
                                <input type="text" class="form-control" name="ConsultationContent" required>
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="ConsultationTime">咨询时间</span>
                                <input type="date" class="form-control" name="ConsultationTime">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="AddSubmit">保存</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("#AddSubmit").click(
            function () {
            $("#AddFrom").submit()
            })

    </script>
}