
@{
    ViewBag.Title = "DetaileCustomerCare";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
@using Model;
@model List<CustomerCare>
<style type="text/css">
    #top {
        width: 95%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
        box-sizing: border-box;
        transition: box-shadow .5s;
        margin: 0px auto;
    }

    table {
        text-align: center;
    }
</style>
<div id="top">
    <nav aria-label="breadcrumb" style="margin-top:25px;">
        <ol class="breadcrumb" style="background-color:darkgrey; width:100%;">
            <li class="breadcrumb-item"><a href="/CustomerInFormation/Index">首页</a></li>
            <li class="breadcrumb-item"><a style="color:white;">客户服务</a></li>
            <li class="breadcrumb-item"><a href="/ServiceManagement/CustomerCare">客户关怀</a></li>

        </ol>

    </nav>
    <div>
        <h2 style="text-align:center">客户关怀管理(已处理)</h2>
    </div>
    <div>
        <table class="table table-hover table-primary" width="100%">
            <tr>
                <td>序号</td>
                <td>客户姓名</td>
                <td>出生年月</td>
                <td>性别</td>
                <td>主治医生</td>
                <td>联系方式</td>
                <td>体检结果</td>
                <td>体检结论</td>
                <td>体检时间</td>
                <td>是否处理</td>
                <td>
                    操作
                </td>
            </tr>

            @*此处增加循环出关怀信息*@
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CustomerCareID</td>
                    <td>@item.ClientMdicalIformation.CustomerAppointment.CustomerInformation.CustomerName</td>
                    <td>@item.ClientMdicalIformation.CustomerAppointment.CustomerInformation.dateOfBirth.ToShortDateString()</td>
                    <td>@item.ClientMdicalIformation.CustomerAppointment.CustomerInformation.CustomerGender</td>
                    <td>@item.ClientMdicalIformation.UserDoctorList.DoctorOfName</td>
                    <td>@item.ClientMdicalIformation.CustomerAppointment.CustomerInformation.CustomerContactNumber</td>
                    <td>@item.ClientMdicalIformation.InspectionResults</td>
                    <td>@item.ClientMdicalIformation.ConclusionOfPhysicalExamination</td>
                    <td>@item.ClientMdicalIformation.InspectionTime.ToShortDateString()</td>
                    <td>
                        已处理
                    </td>
                    <td>
                        <a href="/ServiceManagement/EditCustomerCare?id=@item.CustomerCareID" onclick="return confirm('确定撤回')">撤回处理</a>
                    </td>
                </tr>

            }
        </table>
    </div>
</div>