
@{
    ViewBag.Title = "CustomerAppointment";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
@using Model;
@model List<CustomerAppointment>


<style type="text/css">
    #top {
        width: 80%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
        box-sizing: border-box;
        transition: box-shadow .5s;
        margin: 0px auto;
    }

    table {
        text-align: center;
    }
</style>
<div id="top">
    <nav aria-label="breadcrumb" style="margin-top:25px;">
        <ol class="breadcrumb" style="background-color:darkgrey; width:100%;">
            <li class="breadcrumb-item"><a href="/CustomerInFormation/Index">首页</a></li>
            <li class="breadcrumb-item"><a style="color:white;">客户信息</a></li>
            <li class="breadcrumb-item"><a href="/CustomerInFormation/CustomerAppointment">客户预约</a></li>
            <li class="text-right" style="width:75%; height:20px; ">
                <a href="#" class="btn btn-danger right" style="width:50px;font-size:5px; margin-top:-5px;" data-toggle="modal" data-target="#exampleModal">
                    新增
                </a>
            </li>
        </ol>

    </nav>
    <div>
        <h2 style="text-align:center">客户预约管理</h2>
    </div>
    <div>
        <table class="table table-hover table-info" width="100%">
            <tr>
                <td>序号</td>
                <td>姓名</td>
                <td>开始时间</td>
                <td>结束时间</td>
                <td>体检描述</td>
                <td>基本操作</td>
            </tr>

            @*此处增加循环出客户预约信息*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerAppointmentID</td>
                    <td>@item.CustomerInformation.CustomerName</td>
                    <td>@item.startTime.ToShortDateString()</td>
                    <td>
                        @item.EndTime.ToShortDateString()
                    </td>
                    <td>@item.PhysicalExaminationDescription</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#exampleModal">新增预约</a>/
                        <a href="/CustomerInFormation/DeleteCustomerAppointment?id=@item.CustomerAppointmentID" onclick="return confirm('你确定要删除吗？')">删除预约</a>/
                        <a href="/CustomerInFormation/EditCustomerAppointment?id=@item.CustomerAppointmentID">修改信息</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"  data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增预约</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/CustomerInFormation/AddCustomerAppointment" method="post" id="AddFrom">
                    <div class="form-group">
                        <label for="exampleInputPassword1">预约客户姓名</label>
                        <select class="form-control" aria-describedby="emailHelp" name="CustomerID">
                            @foreach (var item in ViewBag.list as List<CustomerInformation>)
                            {
                                <option value="@item.CustomerID">@item.CustomerName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">开始时间</label>
                        <input type="date" class="form-control" name="startTime" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">结束时间</label>
                        <input type="date" class="form-control" name="EndTime" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">体检内容描述</label>
                        <input type="text" class="form-control" name="PhysicalExaminationDescription" required>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="AddSubmit">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
