
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
@using Model;
@model List<CustomerInformation>
<style type="text/css">
    #top {
        width: 80%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
        box-sizing: border-box;
        transition: box-shadow .5s;
        margin: 0px auto;
    }

    table {
        text-align: center;
    }
</style>
<div id="top">
    <div>
        <h2 style="text-align:center"> 客户信息页</h2>
    </div>
    <div>
        <table class="table table-hover table-dark" width="100%">
            <tr>
                <td>序号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>联系电话</td>
                <td>出生年月</td>
                <td>基本操作</td>
            </tr>

            @*此处增加循环出客户信息*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerID</td>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerGender</td>
                    <td>@item.CustomerContactNumber</td>
                    <td>@item.dateOfBirth</td>
                    <td>
                        <!-- Button trigger modal -->
                        <a href="#" data-toggle="modal" data-target="#exampleModal">
                            新增客户
                        </a>/
                        <a href="/CustomerInFormation/DeleteCustomerInformation?id=@item.CustomerID" onclick="return confirm('你确定要删除吗？客户以下的资料都会删除！')">删除客户</a>/
                        <a href="/CustomerInFormation/DetailedCustomerInformation?id=@item.CustomerID">个人信息</a>/
                        <a href="/CustomerInFormation/CustomerDetails?id=@item.CustomerID">病史信息</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增客户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/CustomerInFormation/AddCustomerInformation" method="post" id="AddFrom">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerName">姓名</span>
                                <input type="text" class="form-control" name="CustomerName">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerIDCard">身份证</span>
                                <input type="text" class="form-control" name="CustomerIDCard">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerGender">性别</span>
                                <input type="text" class="form-control" name="CustomerGender">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="dateOfBirth">出生年月</span>
                                <input type="text" class="form-control" name="dateOfBirth">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerNationality">民族</span>
                                <input type="text" class="form-control" name="CustomerNationality">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="ClientsMaritalStatus">婚姻状况</span>
                                <input type="text" class="form-control" name="ClientsMaritalStatus">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerBloodGroup">血型</span>
                                <input type="text" class="form-control" name="CustomerBloodGroup">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerOccupation">职业</span>
                                <input type="text" class="form-control" name="CustomerOccupation">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerEducation">文化程度</span>
                                <input type="text" class="form-control" name="CustomerEducation">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerBelief">信仰</span>
                                <input type="text" class="form-control" name="CustomerBelief">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerContactNumber">联系电话</span>
                                <input type="text" class="form-control" name="CustomerContactNumber">
                            </div>
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="CustomerEmergencyContactNumber">紧急联系电话</span>
                                <input type="text" class="form-control" name="CustomerEmergencyContactNumber">
                            </div>
                        </div>

                    </div>
                    <div>
                        <span id="inputGroup-sizing-sm" name="CustomerHomeAddress" style="margin-left:15px;">家庭住址</span>
                        <input type="text" class="form-control" name="CustomerHomeAddress">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="AddSubmit">保存</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("#AddSubmit").click(
            function () {
            $("#AddFrom").submit()
            })
            
    </script>
    }