
@{
    ViewBag.Title = "KnowledgeBaseContentManagement";
    Layout = "~/Views/Shared/KangMeiLayout.cshtml";
}
@using Model;
@model List<View_KnowledgeBase>
@{
    List<UserDoctorList> userDoctorLists = ViewBag.list;
    List<KnowledgeBaseTypeManagement> knowledgeBaseTypeManagement = ViewBag.list2;
    UserDoctorList userDoctorList = Session["Doctor"] as UserDoctorList;
}
<style type="text/css">
    #top {
        width: 80%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
        box-sizing: border-box;
        transition: box-shadow .5s;
        margin: 0px auto;
    }

    table {
        text-align: center;
    }
</style>
<div id="top">
    <nav aria-label="breadcrumb" style="margin-top:25px;">
        <ol class="breadcrumb" style="background-color:darkgrey; width:100%;">
            <li class="breadcrumb-item"><a href="/CustomerInFormation/Index">首页</a></li>
            <li class="breadcrumb-item"><a style="color:white;">知识库</a></li>
            <li class="breadcrumb-item"><a href="/KnowledgeBase/KnowledgeBaseContentManagement">知识库目录</a></li>
            <li class="text-right" style="width:75%; height:20px; ">
                <a href="#" class="btn btn-danger right" style="width:50px;font-size:5px; margin-top:-5px;" data-toggle="modal" data-target="#exampleModal">
                    新增
                </a>
            </li>
        </ol>

    </nav>
    <div>
        <h2 style="text-align:center">知识库</h2>
    </div>
    <div>
        <table class="table table-hover table-danger" width="100%">
            <tr>
                <td>题序</td>
                <td>题类</td>
                <td>问题</td>
                <td>解答</td>
                <td>解答人</td>
                <td>操作</td>
            </tr>

            @*此处增加循环出知识库内容*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KnowledgeBase</td>
                    <td>@item.KnowledgeBaseType</td>
                    <td>@item.Problem</td>
                    <td width="300">@item.Reply</td>
                    <td>
                        @foreach (var item2 in userDoctorLists)
                        {
                            if (item2.DoctorID == @item.DoctorID)
                            {
                                @item2.DoctorOfName
                            }
                        }
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <a href="#" data-toggle="modal" data-target="#exampleModal">
                            新增
                        </a>/
                        <a href="/KnowledgeBase/DeleteKnowledgeBaseContentManagement?id=@item.KnowledgeBase" onclick="return confirm('你确定要删除吗？')">删除</a>/
                        <a href="/KnowledgeBase/EditKnowledgeBaseContentManagement?id=@item.KnowledgeBase">修改</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"  data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增知识</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/KnowledgeBase/AddKnowledgeBaseContentManagement" method="post" id="AddFrom">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="DoctorID">添加医生</span>
                                <input type="hidden" class="form-control" name="DoctorID" value="@userDoctorList.DoctorID" />
                                <input type="text" class="form-control" value="@userDoctorList.DoctorOfName" readonly="readonly" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="KnowledgeBaseTypeID">知识库类型</span>
                                <select class="form-control" name="KnowledgeBaseTypeID">
                                    @foreach (var item in knowledgeBaseTypeManagement)
                                    {

                                        <option value="@item.KnowledgeBaseTypeID">@item.KnowledgeBaseType</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="Problem">问题</span>
                                <input type="text" class="form-control" name="Problem" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span id="inputGroup-sizing-sm" name="Reply">答复</span>
                                <input type="text" class="form-control" name="Reply" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="AddSubmit">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>